.media-container{
    position: relative;
    overflow: hidden;
    width: 75%;
    margin: auto;
    padding-bottom: 50px;
}
.media-btn-prev, .media-btn-next{
    position: absolute;
    top: 37%;
    color: #f4f4f4;
    font-size: 50px;
    z-index: 1;
    cursor: pointer;
}
.media-btn-next{
    right: 0;
}
.media-wrapper{
    display: flex;
    flex-direction: row;
    padding: 25px;
}
.media-slide{
    text-decoration: none;
    color: white;
}
.media-slide > span{
    position: relative;
    top: 25px;
    left: 5px;
    z-index: 2;
}
.media-figure{
    position: relative;
    backface-visibility: hidden;
    height: 200px;
    width: auto;
}
.media-figure > img{
    height: 200px;
    width: auto;
    border-radius: 5px;
}

@media only screen and  (max-width: 1023px){
    .media-figure{
        height: 150px;
    }
    .media-figure > img{
        height: 150px;
    }
    .media-slide{
        padding: 0 25px;
    }
}
@media only screen and  (max-width: 525px){
    .media-slide{
        padding: 0 10px;
    }
}