#container{
    overflow: hidden;
}
.media-container{
    position: relative;
}
.media-wrapper{
    display: flex;
}
.media-slide{
    text-decoration: none;
    color: white;
}
.media-slide > span{
    position: relative;
    top: 25px;
    left: 5px;
    z-index: 2;
}
.media-figure{
    position: relative;
    backface-visibility: hidden;
    height: 200px;
    width: 130px;
}
.media-figure > img{
    height: 200px;
    width: 130px;
    border-radius: 5px;
}