.nav{
    background-color: #333;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7vh;
}
.nav-icon{
    color: white;
    margin-left: 5px;
}
#nav_search--form{
    width: 100%;
    transition: all 500ms;
}
#nav_search--form > input {
    width: 75%;
    height: 2rem;
    border-radius: 5px;
    border: none;
}
#nav_search--form > a > button {
    width: 25%;
    height: 2rem;
    border-radius: 5px;
    border: none;
    position: relative;
    left: -10px;
}
.nav-home{
    color: white;
    font-size: 2rem;
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
}